################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FabioCosta
/src/FabioCosta.Web/bin/
/src/FabioCosta.Web/obj/
*.user
/src/FabioCosta.Web/.config
