@model StandardArchive

@{
    ViewData["Title"] = !string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title;
    ViewData["Description"] = "This is my blog. You can find some of my thougths in here.";

    var posts = Model.Archive.Posts.Count;
}

@section Scripts {
    <script async src="~/js/bundleSite.js" asp-append-version="true"></script>
}

@section head {
    @WebApp.MetaTags(Model)
}

<!-- Blog -->
<section class="container">
    <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 mb-5 text-center" data-aos="fade-up">
        <h4 class="blog-category">Blog</h4>
        <h1>My thoughts of the moment...</h1>

        <div class="client-info">
            <div class="d-flex justify-content-center align-items-center mt-3">
                <img src="/images/shared/FabioEmoji.PNG"
                     class="img-fluid profile-pic rounded-circle"
                     alt="male avatar"
                     width="100"
                     height="92">
                <p>Fábio Costa</p>
            </div>
        </div>
    </div>

    <!-- Posts -->
    @if (posts > 0)
    {
        ViewData["FirstPost"] = true;
        foreach (var post in Model.Archive.Posts)
        {
            <partial name="_postCard" model="post" />
            if (ViewData["FirstPost"] != null) ViewData["FirstPost"] = null;

            <hr data-aos="fade-up" />
        }
    }
    else
    {
        <p class="text-center">Sorry, no results...</p>
    }
</section>