<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="copyright-text">
                    Copyright &copy; @DateTime.Now.Year <a asp-controller="Home" asp-action="Index">Fábio Costa</a>
                </p>
                <ul class="footer-link">
                    <li><a href="#">v1.0</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>