<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 mx-lg-auto col-md-8 col-10">
                <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Nothing is <strong>Impossible</strong></h1>
            </div>

            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
                <h4 class="my-4">Contact Info</h4>

                <p>
                    <a href="mailto: contact@fabiocosta.eu">
                        <i class="fa fa-envelope mr-2 footer-icon"></i>
                        contact@fabiocosta.eu
                    </a>
                </p>

                <p>
                    <a href="#">
                        <i class="fab fa-wpforms mr-2 footer-icon"></i>
                        Contact form
                    </a>
                </p>
            </div>

            <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
                <p class="copyright-text">
                    Copyright &copy; @DateTime.Now.Year <a asp-controller="Home" asp-action="Index">Fábio Costa</a>
                </p>
            </div>

            <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
                <ul class="footer-link">
                    <li><a href="#">v1.0</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>

            <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                <ul class="social-icon">
                    <li><a title="Facebook" href="https://www.facebook.com/fabio.costa89" class="fab fa-facebook" target="_blank"></a></li>
                    <li><a title="Instagram" href="https://www.instagram.com/fabio.costa89" class="fab fa-instagram" target="_blank"></a></li>
                    <li><a title="Twitter" href="https://www.twitter.com/fabioocosta89" class="fab fa-twitter" target="_blank"></a></li>
                    <li><a title="Github" href="https://github.com/fabiocosta89" class="fab fa-github" target="_blank"></a></li>
                    <li><a title="LinkedIn" href="https://www.linkedin.com/in/f%C3%A1bio-costa-93333822/" class="fab fa-linkedin" target="_blank"></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>