@using FabioCosta.Web.Helper;

<footer class="site-footer safari_only">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="copyright-text">
                    Copyright &copy; @DateTime.Now.Year <a title="Home" asp-controller="Home" asp-action="Index">Fábio Costa</a>
                    <span> | </span>
                    <a title="Source code" href="https://github.com/fabiocosta89/fabiocosta" target="_blank" rel="noreferrer">Source code</a>
                </p>
                <ul class="footer-link">
                    <li><a asp-controller="Version" asp-action="Index">@AssemblyHelper.GetAppVersionWithBuild()</a></li>
                    <li><a asp-controller="Privacy" asp-action="Index">Privacy</a></li>
                    <li><a asp-controller="Feed" asp-action="Index">Feed RSS</a></li>
                    <li><a asp-controller="SiteMap" asp-action="Index">SiteMap</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>