@using FabioCosta.Web.Helper;

<footer class="site-footer safari_only">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="copyright-text">
                    Copyright &copy; @DateTime.Now.Year <a asp-controller="Home">Fábio Costa</a>
                </p>
                <ul class="footer-link">
                    <li><a asp-controller="Version">@AssemblyHelper.GetAppVersionWithBuild()</a></li>
                    <li><a asp-controller="Privacy">Privacy</a></li>
                    <li><a asp-controller="SiteMap">SiteMap</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>