<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head" />
    <!-- Page Specific -->
    @RenderSection("Head", required: false)
</head>
<body>
    <div id="page-container">
        <main id="content-wrap">
            <!-- Back to Top Button -->
            <partial name="_BackTopButton" />

            <!-- MENU BAR -->
            <partial name="_Menu" />

            @RenderBody()
        </main>

        <!-- Footer -->
        <partial name="_Footer" />

        <!-- Cookie consent -->
        @*<partial name="_CookieConsentPartial" />*@
        @await Component.InvokeAsync("CookieConsent")
    </div>

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
    <script async src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" integrity="sha384-wziAfh6b/qT+3LrqebF9WeK4+J5sehS6FA10J1t3a866kJ/fvU5UwofWnQyzLtwu" crossorigin="anonymous"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha384-vkQNjF8EA4RcQjAxDIUub2eNccKwbbUVUxouY1MuGjSfXCl4mfsstaL6+AZsfuhD" crossorigin="anonymous"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js" integrity="sha384-pSQdnqsuAwdyk3FjmdCugWc6JXrpCyQPJbweAfCT9EjnJayrGAKKuI6V54wCfQ5c" crossorigin="anonymous"></script>
    <script async src="~/js/CookieConsent.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
