<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Fábio Costa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <title>@ViewData["Title"] - Fabio Costa</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="favicon/mstile-310x310.png" />


    <!-- Libraries -->
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/brands.css">
    <link rel="stylesheet" href="~/lib/aos/aos.css">
    <link rel="stylesheet" href="~/lib/OwlCarousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/lib/OwlCarousel2/assets/owl.theme.default.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/templatemo-digital-trend.css">
    <link rel="stylesheet" href="/css/bundle.css" asp-append-version="true" />

    <!-- Google analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DYVQX5PW3M"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-DYVQX5PW3M');
    </script>
</head>
<body>
    <!-- MENU BAR -->
    <partial name="_Menu" />

    @RenderBody()

    <!-- Footer -->
    <partial name="_Footer" />

    <!-- SCRIPTS -->
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/OwlCarousel2/owl.carousel.js"></script>
    <script src="~/lib/smoothscroll/SmoothScroll.js"></script>
    <script src="~/lib/rellax/rellax.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
