<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Fábio Costa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <title>@ViewData["Title"] - Fabio Costa</title>

    <!-- Libraries -->
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/brands.css">
    <link rel="stylesheet" href="~/lib/aos/aos.css">
    <link rel="stylesheet" href="~/lib/OwlCarousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/lib/OwlCarousel2/assets/owl.theme.default.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/templatemo-digital-trend.css">
    <link rel="stylesheet" href="/css/bundle.css" asp-append-version="true" />
</head>
<body>
    <!-- MENU BAR -->
    <partial name="_Menu" />

    @RenderBody()

    <!-- Footer -->
    <partial name="_Footer" />

    <!-- SCRIPTS -->
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/OwlCarousel2/owl.carousel.js"></script>
    <script src="~/lib/smoothscroll/SmoothScroll.js"></script>
    <script src="~/lib/rellax/rellax.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
