@model PageErrorModel
@{
    ViewData["Title"] = $"Error {Model.Code}";
    ViewData["Description"] = "Something went wrong!";
}

<section class="project-detail">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 mx-auto col-md-9 col-12 mt-lg-5 text-center" data-aos="zoom-in-down">

                <h1 class="display-1 text-shadow">@Model.Code</h1>
                 
                <h3 class="mb-3">Oh no... Something went wrong!</h3>

                <p>
                    Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?
                </p>

                <p>
                    But you can click the button below to go back to the homepage.
                </p>

                <a asp-controller="Home" class="btn-primary btn-lg btn mt-3" data-aos="zoom-in-down" data-aos-delay="100">Home</a>

            </div>

        </div>
    </div>
</section>