@{
    ViewData["Title"] = "Version Log";
    ViewData["Description"] = "This is where you can see the evolution of this website. A lot of work invested :D";
}

@section Scripts {
    <script async src="~/js/bundleSite.js" asp-append-version="true"></script>
}

<!-- Version Log Content -->
<section class="project-detail">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" data-aos="fade-up">
                <h4 class="blog-category">Version Log</h4>
                <h1>The Evolution of this Website</h1>

                <div class="client-info">
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <img src="images/shared/male-avatar.png" class="img-fluid" alt="male avatar">

                        <p>Fábio Costa</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 mx-auto col-md-11 col-12 my-5 pt-3" data-aos="fade-up" data-aos-delay="100">
                <p>This website is in constant evolution and the code source is avalable on my <a title="My Github" href="https://github.com/fabiocosta89" target="_blank">Github</a>, and more precisely <a title="this website repository" href="https://github.com/fabiocosta89/fabiocosta" target="_blank">here</a>.</p>
                <p>This website was build using .NET 5.</p>
            </div>

            <div class="col-lg-9 mx-auto col-md-11 col-12 my-3 pt-2" data-aos="fade-up" data-aos-delay="200">
                <h2 class="mb-3">v1.2.2</h2>
                <ul class="list-detail py-3">
                    <li>Security improvements</li>
                    <li>Other small changes</li>
                </ul>
            </div>

            <div class="col-lg-9 mx-auto col-md-11 col-12 my-3 pt-2" data-aos="fade-up" data-aos-delay="200">
                <h2 class="mb-3">v1.2.1</h2>
                <ul class="list-detail py-3">
                    <li>Add Azure Application Insights for better telemetry</li>
                    <li>Other optimizations</li>
                </ul>
            </div>

            <div class="col-lg-9 mx-auto col-md-11 col-12 my-3 pt-2" data-aos="fade-up" data-aos-delay="200">
                <h2 class="mb-3">v1.2</h2>
                <ul class="list-detail py-3">
                    <li>Replaced the carroucel by a donut version on Home</li>
                    <li>Separation of scripts by pages</li>
                    <li>Updated Devoteam's logo</li>
                    <li>Added Error page</li>
                    <li>Replaced local scripts by their CDN</li>
                    <li>Add extra space on footer for iPhone</li>
                </ul>
            </div>

            <div class="col-lg-9 mx-auto col-md-11 col-12 my-3 pt-2" data-aos="fade-up" data-aos-delay="200">
                <h2 class="mb-3">v1.1</h2>
                <ul class="list-detail py-3">
                    <li>Creation of Dev environment</li>
                    <li>Add "Go Up" button</li>
                    <li>Add multi-lang effect to "Hero" on Home</li>
                    <li>Sticky Nav</li>
                    <li>Add SEO</li>
                    <li>Add Depth to Nav and Footer</li>
                    <li>Add sitemap</li>
                    <li>Add server and browser cache</li>
                    <li>Add Version Log page</li>
                </ul>
            </div>

            <div class="col-lg-9 mx-auto col-md-11 col-12 my-3 pt-2" data-aos="fade-up" data-aos-delay="200">
                <h2 class="mb-3">v1.0</h2>
                <ul class="list-detail py-3">
                    <li>Initial release with the Home and Policy pages</li>
                </ul>
            </div>

        </div>
    </div>
</section>