<section class="project section-padding" id="project">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-12">

                <h2 class="mb-5 text-center" data-aos="fade-up">
                    My super <strong>Powers</strong>
                </h2>

                <div class="owl-carousel owl-theme text-center" id="project-slide">

                    <div class="alt-card item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="mb-4"><i class="fas fa-laptop-code"></i> Languages</h3>
                        <ul class="list-detail">
                            <li>C / C++</li>
                            <li>C#</li>
                            <li>Java</li>
                            <li>HTML5 / CSS3</li>
                            <li>Javascript / Typescript</li>
                            <li>SQL Server</li>
                        </ul>
                    </div>

                    <div class="alt-card item project-wrapper" data-aos="fade-up">
                        <h3 class="mb-4"><i class="fab fa-windows"></i> Frameworks</h3>
                        <ul class="list-detail">
                            <li>ASP.NET WebForms / MVC / Core</li>
                            <li>REST API</li>
                            <li>LINQ</li>
                            <li>Entity Framework / Core</li>
                            <li>Boostrap</li>
                            <li>jQuery</li>
                            <li>Kendo UI</li>
                            <li>React</li>
                        </ul>
                    </div>

                    <div class="alt-card item project-wrapper" data-aos="fade-up">
                        <h3 class="mb-4"><i class="fas fa-cog"></i> Tools/Others</h3>
                        <ul class="list-detail">
                            <li>Visual Studio</li>
                            <li>Visual Studio Code</li>
                            <li>SQL Server Management Studio</li>
                            <li>Azure Data Studio</li>
                            <li>TFS</li>
                            <li>Azure DevOps</li>
                            <li>Eclipse</li>
                            <li>Git</li>
                            <li>Agile / Scrum</li>
                            <li>Wordpress / Woocommerce</li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>