<section class="project-detail section-padding" id="experiences">
    <div class="container">

        <div class="col-12">
            <h2 class="mb-5 text-center" data-aos="fade-up">
                My <strong>Experiences</strong>
            </h2>
        </div>

        <!-- Devoteam -->
        <div class="row currentJob" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6 col-md-6 col-12 mb-5 img-center">
                <a href="https://lu.devoteam.com" target="_blank">
                    <img src="images/home/devoteam_logo.png" class="img-fluid-70" alt="Devoteam logo" data-aos="fade-up" loading="lazy">
                </a>
            </div>

            <div class="col-lg-5 col-md-6 mr-lg-auto mt-lg-5 col-12" data-aos="fade-up" data-aos-delay="200">

                <h2><a href="https://lu.devoteam.com" target="_blank">Devoteam</a></h2>
                <h4>01/2021 - Current</h4>

                <p class="mt-3 mb-4">
                    Working as a Fullstack .NET Developer consultant, I help clients on their needs and perform carrear knowledge
                    improvements throw certification.
                </p>

                <ul class="list-detail">
                    <li><span>Azure</span></li>
                    <li><span>HTML5 / CSS3 / JS</span></li>
                    <li><span>C#</span></li>
                    <li><span>.NET 5</span></li>
                    <li><span>Azure CosmosDB</span></li>
                    <li><span>SQL Server</span></li>
                </ul>
            </div>
        </div>

        <!-- Ainos -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 mb-5 img-center">
                <a href="https://www.ainos.lu" target="_blank">
                    <img src="images/home/ainos_logo.png" class="img-fluid-70" alt="Ainos logo" data-aos="fade-up" loading="lazy">
                </a>
            </div>

            <div class="col-lg-5 col-md-6 mr-lg-auto mt-lg-5 col-12" data-aos="fade-up" data-aos-delay="200">

                <h2><a href="https://www.ainos.lu" target="_blank">Ainos</a></h2>
                <h4>04/2018 - 12/2020</h4>

                <p class="mt-3 mb-4">
                    As a Fullstack Web Developer consultant, I worked on internal projects, disponible as Saas and with clients
                    on their offices, providing advices and development.
                </p>

                <ul class="list-detail">
                    <li><span>HTML5 / CSS3 / JS</span></li>
                    <li><span>DataTable / Kendo / Boostrap</span></li>
                    <li><span>React / React Native</span></li>
                    <li><span>.NET Core 2 / .NET MVC / .NET Webforms</span></li>
                    <li><span>Entity Framework</span></li>
                    <li><span>C#</span></li>
                    <li><span>SQL Server</span></li>
                    <li><span>TFS / Azure DevOps / Git</span></li>
                </ul>
            </div>
        </div>

        <!-- SFS -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 mb-5 img-center">
                <img src="images/home/sfs_logo.jpg" class="img-fluid-70" alt="SFS logo" data-aos="fade-up" loading="lazy">
            </div>

            <div class="col-lg-5 col-md-6 mr-lg-auto mt-lg-5 col-12" data-aos="fade-up" data-aos-delay="200">

                <h2><a href="#">SFS</a></h2>
                <h4>01/2018 - 03/2018</h4>

                <p class="mt-3 mb-4">
                    As a Web Developer, I worked on adding new features to the internal tools and correct some bugs.
                </p>

                <ul class="list-detail">
                    <li><span>HTML5 / CSS3 / JS</span></li>
                    <li><span>Kendo / Bootstrap</span></li>
                    <li><span>.NET MVC 5</span></li>
                    <li><span>Entity Framework</span></li>
                    <li><span>C#</span></li>
                    <li><span>SQL Server</span></li>
                    <li><span>TFS / Git</span></li>
                </ul>
            </div>
        </div>

        <!-- RRDonnelley -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 mb-5 img-center">
                <a href="https://www.dfinsolutions.com/" target="_blank">
                    <img src="images/home/rrdonnelley_logo.jpg" class="img-fluid-70" alt="RRDonnelley logo" data-aos="fade-up" loading="lazy">
                </a>
            </div>

            <div class="col-lg-5 col-md-6 mr-lg-auto mt-lg-5 col-12" data-aos="fade-up" data-aos-delay="200">

                <h2><a href="https://www.dfinsolutions.com/" target="_blank">RRDonnelley</a></h2>
                <h4>07/2014 - 12/2017</h4>

                <p class="mt-3 mb-4">
                    Being the first developer of the company on the Luxembourg and working by my self, my responsibilities where
                    to develop internal tools that could help automate the work of the business. As a big project,
                    I designed, architected and developed an application to automate importation of client incoming files and augmented the
                    application to scale for more clients.
                </p>

                <ul class="list-detail">
                    <li><span>HTML5 / CSS3 / JS</span></li>
                    <li><span>C#</span></li>
                    <li><span>.NET Webforms</span></li>
                    <li><span>SQL Server</span></li>
                    <li><span>TFS</span></li>
                    <li><span>XML / XLST</span></li>
                </ul>
            </div>
        </div>

    </div>
</section>