<section class="hero hero-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="hero-text">
                    <h1 class="text-white del-effect" data-aos="fade-up">Olá</h1>
                    <h1 class="text-white del-effect del-effect2" data-aos="fade-up" data-aos-delay="1000">Bonjour</h1>
                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="2000">Hello, my name is Fábio and I am a Fullstack Developer</h1>
                    <a href="#about" class="custom-btn btn-bg btn mt-3 smoothScroll" data-aos="fade-up" data-aos-delay="3000">About Me!</a>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="hero-image" data-aos="fade-up" data-aos-delay="3000">
                    <a href="#about" class="smoothScroll" data-aos="fade-up" data-aos-delay="100">
                        <img src="~/images/shared/FabioEmoji.PNG" 
                             width="410" 
                             height="410" 
                             class="img-thumbnail rounded-circle hero-img" 
                             alt="fabio costa"
                             rel="preload"
                        />
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>