<section class="project section-padding-half" id="curriculum">
    <div class="container-fluid">
        <div class="row">
            <h2 class="mx-auto mb-3" data-aos="fade-up">
                My super <strong>Powers</strong>
            </h2>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-7 col-md-8 col-sm-10 col-12 mx-auto chart-container" data-aos="fade-up" data-aos-delay="200">
                <canvas id="doughnut-chart"></canvas>
                <p class="text-center mt-1">Touch the donut to see my skills</p>
            </div>
        </div>
    </div>
</section>